@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 20px;
	pointer-events: none;
	border: 1px solid hsla(0, 0%, 100%, 0.07);
	mask-image: linear-gradient(175deg, #000, transparent 55%);
}

.overlay-tooltip::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 8px;
	pointer-events: none;
	border: 1px solid hsla(0, 0%, 100%, 0.07);
	mask-image: linear-gradient(175deg, #000, transparent 55%);
}

/* App Container */
.overlay-shadow {
	background: linear-gradient(
		145deg,
		rgba(247, 247, 247, 0.1) 0%,
		rgba(247, 247, 247, 0.04) 44.62%
	);
	box-shadow:
		0px 4px 4px 0px rgba(0, 0, 0, 0.25), 2px 4px 16px 0px rgba(
			247,
			247,
			247,
			0.06
		) inset, 0px 54px 32px -16px rgba(5, 5, 5, 0.02), 0px 24px 24px -16px rgba(
			5,
			5,
			5,
			0.04
		), 0px 6px 12px 0px rgba(5, 5, 5, 0.1), 0px 4px 4px -4px rgba(5, 5, 5, 0.1);
}

.overlay-blur {
	background: linear-gradient(
		160deg,
		rgba(255, 255, 255, 0.06) 14.19%,
		rgba(255, 255, 255, 0.0) 50.59%,
		rgba(255, 255, 255, 0.0) 68.79%,
		rgba(255, 255, 255, 0.02) 100%
	);
}
